
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section style {
    <link href="~/Content/footer-grid.css" rel="stylesheet" />
}

@section navtop {
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/Admin/VatTu/Index">VẬT TƯ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.tag == "vattu" ? "active" : "")" href="/Admin/VatTu/Index">Vật tư</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.tag == "thongke" ? "active" : "")" href="/Admin/VatTu/ThongKeVatTu">Thống kê vật tư</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.tag == "trangthai" ? "active" : "")" href="/Admin/VatTu/TrangThaiPhong">Trạng thái phòng</a>
                </li>
                <li class="ml-auto">
                    <span class="text-white">@ViewBag.username</span>
                    <a role="button" class="btn btn-secondary" id="logout" href="/Admin/Login/Logout">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>
}

@RenderBody()